{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-container">
    <img src="{% static 'images/japan.png' %}" alt="일본셀카" width="150px">
    <p class="tag">LikeLion_14th_session</p>
    <h1 class="title">자기소개</h1>
    <h6 class="welcome">저를 소개합니다!</h6>

    <div class="section">
        <div class="section-title">🦁 Who am I? 🦁</div>
        <ul>
            <li>이름 : 노윤서</li>
            <li>나이 : 05년생 22살</li>
            <li>학과 : 정보통신공학과 </li>
            <li>MBTI : ESTP</li>
        </ul>
    </div>

    <div class="section">
        <div class="section-title">🦁 About Me 🦁</div>
        <ul>
            <li>트랙 : 프론트엔드</li>
            <li>거주지 : 서울시 송파구</li>
            <li>좋아하는 것 : 사람 만나기, 노래 듣기 </li>
            <li>좋아하는 음식 : 닭발, 두쫀쿠</li>
        </ul>
    </div>
</div>
</body>
{% endblock %}